{% extends "base.html" %}

{% block content %}

<h1>Add a Blog Entry</h1>

<form method="POST" action="/newpost">
    <label for="title">
        <p>Title for your new blog:</p>
        <input type="text" id="title" name="blog_title" />
    </label>
    <p class="error">{{error_t}}</p>
    <label for="body">
        <p>Your new blog:</p>
        <textarea id="body" name="blog_body"></textarea>
    </label>
    <p class="error">{{error_b}}</p>
    <input type="submit" value="Add Entry" />
</form>

{% endblock %}
